CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 27AEDK3C9F
INFOPLIST_FILE = Tests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.kishikawakatsumi.IBPCollectionViewCompositionalLayoutTests
PRODUCT_NAME = $(TARGET_NAME)
TARGETED_DEVICE_FAMILY = 1,2
